@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Varela+Round&display=swap");

html {
  background-color: #75967a;
  color: #fff7cc;
}

body {
  width: 75%;
  margin: auto;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Pen Script", cursive;
}

header {
  background-color: #fff7cc;
  color: #0699dd;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#logo {
  margin-top: 1.5em;
  border: 1em solid #75967a;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav {
  display: inline-block;
  background-color: #0699dd;
  position: relative;
  top: 1.5em;
  border-radius: 10px;
  padding: 0;
  margin-bottom: 0;
  border-left: 0.75em solid #0699dd;
  border-right: 0.75em solid #0699dd;
}

#navul li.current {
  background-color: #75967a;
}

header h2 {
  margin-bottom: 0;
  margin-top: 0.5em;
}

#navul {
  display: inline-flex;
  padding: 0;
  margin: 0 auto;
  font-size: 1.5em;
}

#navul li {
  float: left;
  padding: 0.65em 1em;
  border-right: 0.25em solid #75967a;
}

#navul li:hover {
  background-color: #eb6558;
}

#navul li:last-child {
  border-right: none;
}

#navul li a {
  font-weight: bold;
  text-decoration: none;
  color: #fff7cc;
}

input[type="search"] {
  font-size: 1.25em;
  border: 0.25em solid #0699dd;
  padding: 0.25em;
  width: 15em;
}

input[type="image"]:hover {
  box-shadow: 0.1em 0.1em 0.25em #1c1c1c;
}

#searchbar {
  display: flex;
  margin: 1em;
  margin-left: 3.5em;
  margin-top: 3.5em;
  text-align: left;
  align-items: center;
}

#mainhome h1 {
  display: inline-block;
  background-color: #eb6558;
  padding: 0.1em 1.5em;
  border-radius: 50%;
  font-size: 2.65em;
  margin-top: 0.5em;
  letter-spacing: 0.02em;
}

#mainhome {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  width: 90%;
}

#movies {
  grid-column: 1;
}

#tv {
  grid-column: 2;
}

#mainhome figure {
  margin-left: 1em;
  margin-right: 1.5em;
  text-align: center;
  align-self: center;
  background-color: #eb6558;
  color: #fff7cc;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#mainhome figcaption {
  padding: 0.35em;
  padding-top: 0;
  font-weight: lighter;
}

#mainhome section {
  background-color: #fff7cc;
  color: #0699dd;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-radius: 10px;
  margin-bottom: 2em;
  text-align: left;
  font-weight: bold;
  height: 20.313em;
}

#mainhome figure {
  grid-column: 1;
}

#mainhome ol {
  font-size: 1.2em;
  padding: 0.5em;
  padding-left: 1em;
  grid-column: 2;
  overflow: scroll;
}

#mainhome ol li {
  padding-bottom: 0.2em;
}

blockquote {
  width: 50%;
  font-family: "Nanum Pen Script", cursive;
  background-color: #0699dd;
  font-size: 2.25em;
  display: inline-block;
  padding: 1em;
  border-radius: 50%;
  padding-top: 1.9em;
  margin-top: 0;
}

footer {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #eb6558;
  margin-bottom: 0;
}

#footdiv {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  width: 70%;
}

#footdiv li {
  padding: 0.2em 0;
  font-weight: bold;
}

#footdiv li a {
  text-decoration: none;
  color: #1c1c1c;
}

#footdiv li a:hover {
  text-shadow: 0.1em 0.1em 0.2em #fff7cc;
}

#footdiv li a:active {
  color: #fff7cc;
}

#footdiv li a:visited {
  color: #1c1c1c;
}

#left {
  grid-column: 1;
  text-align: right;
}

#right {
  grid-column: 2;
  text-align: left;
  padding-left: 0;
}

#top5 {
  margin: auto;
  display: grid;
  width: 90%;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 3em;
  margin-bottom: 2em;
}

#topmovies {
  grid-row: 1;

  background-color: #eb6558;
  border-radius: 0.5em;
}
#toptv {
  grid-row: 2;
  background-color: #eb6558;
  border-radius: 0.5em;
}

#top5 figure {
  display: inline-block;
  border: 0.5em solid #0699dd;
  background-color: #0699dd;
  border-radius: 0.5em;
  margin: 1em 0.5em;
  margin-bottom: 1.875em;
}
figure.divtitle div {
  position: relative;
}
figure.divtitle div img {
  position: relative;
  width: 100%;
  height: 100%;
}

figure.divtitle div .overlay {
  background-color: #0699dd;
  color: #fff7cc;
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  font-size: 1.5em;
  display: none;
}
figure.divtitle div:hover .overlay {
  display: block;
}

div.aboutmediatitle {
  font-size: 2em;
  font-weight: lighter;
}

div.aboutmediatitle h2 {
  margin-top: 0.25em;
  margin-bottom: 0;
}

div.aboutmediatitle h4 {
  margin: 0;
}

#abouttitle {
  font-size: 4em;
  font-weight: lighter;

  margin: 0;
  text-decoration: underline #0699dd;
}

#meandjett {
  border: 0.75em ridge #fff7cc;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
#aboutpara {
  text-align: left;
  text-indent: 3em;
  background-color: #0699dd;
  border-radius: 0.5em;
  padding: 1em;
  width: 80%;
  margin: auto;
  margin-bottom: 3em;
}
#aboutpara p {
  margin: 0 0 0.5em 0;
}

#aboutpara p:last-child {
  margin: 0;
}
