/* --------------------------------------------- */
/* --------- Branding: Color Palette ----------- */
/* --------------------------------------------- */
/* These are the colors of the boxes under the Branding section */
#swatch1 {
  background-color: #fff7cc;
}
#swatch2 {
  background-color: #0699dd;
}
#swatch3 {
  background-color: #eb6558;
}
#swatch4 {
  background-color: #75967a;
}

/* ----------------------------------------------------- */
/* --------- Typography: Heading & Body Copy ----------- */
/* ----------------------------------------------------- */
/* These are the font families of all the headings and body copy */

@import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Pen Script", cursive;
}

/* -------------------------------------------------- */
/* --------- Navigation: Main & Secondary ----------- */
/* -------------------------------------------------- */
/* Colors, style, floating, shapes, etc of main & secondary navs */

/* Main Navigation Style */
#mainnav {
  text-align: center;
}
#mainnav ul {
  margin: 0;
  display: inline-block;
  background-color: #0699dd;
  list-style-type: none;
  padding: 0 1em;
  border-radius: 10px;
}
#mainnav li {
  float: left;
  padding: 1em 0.75em;
  border-left: 0.2em solid #fff7cc;
}
#mainnav li:last-child {
  border-right: 0.2em solid #fff7cc;
}
#mainnav li:hover {
  background-color: #eb6558;
  /* other styles */
}

#mainnav a:link {
  color: #fff7cc;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Nanum Pen Script", cursive;
  /* other styles */
}
#mainnav a:visited {
  color: #ffffff;
  /* other styles */
}
#mainnav a:hover {
  color: #fff7cc;
  /* other styles */
}
#mainnav a:active {
  color: #ffffff;
  /* other styles */
}

/* Secondary Navigation Style 
#secondnav {
}
#secondnav ul {
}
#secondnav li {
}
#secondnav a:link {
  color: #;
  
}
#secondnav a:visited {
  color: #;
  
}
#maisecondnavnnav a:hover {
  color: #;
  
}
#secondnav a:active {
  color: #;
  
}
*/
/* ----------------------------------- */
/* --------- HTML Elements ----------- */
/* ----------------------------------- */
/* Styling for all HTML Elements */

/* True for all headings */
/*h1,
h2,
h3,
h4,
h5,
h6 {
  color: #;
}

/* Style for individual headings */
/*h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

/* List Styles */
/*ul {
}
ul li {
}

ol {
}
ol li {
}

/* Non-Navigational Link Styles */
/* This is for all default links on your page */
/*a:link {
}
a:visited {
}
a:hover {
}
a:active {
}

/* This is for secondary link styles (possibly in your footer, etc) */
/*.linkstyle2 a:link {
}
.linkstyle2 a:visited {
}
.linkstyle2 a:hover {
}
.linkstyle2 a:active {
}

/* Paragraph Styles */
p {
  color: #0699dd;
  /* Other paragraph styles */
}

/* Figure and Figcaption Styles */
figure {
  width: 25%;
  text-align: center;
}
figure img {
  width: 100%;
}
figcaption {
  margin: 0;
  padding: 0.25em;
  background-color: #eb6558;
  color: #fff7cc;
  font-size: 1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* ------------------------------------- */
/* --------- Style Guide CSS ----------- */
/* ------------------------------------- */
/* The following CSS is used for the styling of the structure of the Style Guide itself */
body {
  width: 700px;
  margin: 10px auto;
  border: 1px solid #777;
  padding: 20px;
}

.styleguide {
  font-family: "Courier New", Courier, monospace;
}
h1.styleguide,
h2.styleguide,
h3.styleguide,
h4.styleguide,
h5.styleguide,
h6.styleguide {
  color: #777;
  font-family: "Courier New", Courier, monospace;
}
h2.styleguide {
  background-color: #777;
  border-radius: 15px;
  padding: 15px;
  margin-left: -15px;
  color: white;
}
p.styleguide {
  color: #777;
  font-family: "Courier New", Courier, monospace;
}

section {
  margin-top: -10px;
  margin-bottom: 70px;
}
.colorgroup {
  float: left;
  width: 170px;
}
.colorgroup h4 {
  font-size: 0.9em;
}
.colorgroup p {
  font-size: 0.8em;
}
.clear {
  clear: both;
}
.swatches {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
