html {
  min-width: 750px;

  background-color: #ffffff;
  justify-content: center;
}
body {
  margin: auto;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

#content {
  margin: 0 auto;
}
#backtotop {
  background-color: #1f1f1f;
  color: #ffffff;
  justify-self: right;
  position: fixed;
  top: 0;
  left: 75%;
  padding: 1em;
  border: 0.25em solid #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#backtotop a {
  text-decoration: none;
  color: #ffffff;
}
header h1 {
  color: #ffffff;
  font-size: 1em;
  margin-left: 107px;
  margin-top: -18px;
  margin-bottom: 20px;
}
/*header img {
  margin-left: -100px;
}*/
main {
  padding: 30px;
  background-color: #e7d79b;
  border-right: 2px solid #000000;
  border-left: 2px solid #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  margin-top: 0;
}

nav {
  text-align: right;
  background-color: #1f1f1f;
  height: 3em;
}
nav ul {
  display: inline;
  list-style-type: none;
}
#leftborder {
  border-left: 0.2em solid #918e8a;
}
nav li {
  float: right;
  padding: 1em;
  border-right: 0.2em solid #918e8a;
}
#falconpic {
  border: 0.25em solid #3b3b3b;
  border-radius: 10px;
  margin: auto;
}
header nav li > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

header nav li > a:visited {
  color: #cca756;
}

header nav li > a:hover {
  color: #918e8a;
}
header nav li > a:active {
  color: #e7d79b;
}
main {
  background-color: #212224;
  color: #ffffff;
  justify-content: center;
}

#maincontent {
  justify-content: center;
}

h2 {
  color: #cca756;
}
div#falconinfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 700px;
  margin-top: 30px;
}

#overview {
  padding: 0.75em;
  grid-column: 1;
}
#birds {
  padding: 0.75em;
  grid-column: 2;
}
#history {
  padding: 0.75em;
  grid-column: 3;
}
#falconinfo a {
  color: #cca756;
}

footer {
  clear: both;
  color: #757575;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  align-items: center;
}

#contact p {
  margin: 0;
}

#contact a {
  color: #757575;
}
#contact {
  align-self: center;
  text-align: right;
  grid-column: 1;
  justify-content: right;
  display: block;
}
#foot {
  grid-column: 2;
  text-align: left;
}
#phonediv,
#letterdiv,
#homediv {
  display: inline;
}
#phone,
#letter,
#home {
  vertical-align: sub;
  float: right;
}
